.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*========================*/

/* Search Section by js file name */

/*========================*/
/* App.js */

.menu-btn {
  list-style: none;
}

.side-menu {
  position: absolute;
  height: 30px;
}

.side-menu button {
  /* left: 1330px; */
}

.side-btn {
  /* float: right; */
  padding: 20px;
}


/*========================*/
/* Keyboard.js */
.keyboard-container {
  margin: 150px;
  position: relative;
  display: block;
  padding-top: 20%;
  width: 50px;
  height: 50px;
}

.piano-container {
  /* display: flex; */
  position: relative;
  align-items: center;
  margin-top: 150px;
  padding: 100px;
  margin-left:-150px;
  
}

.keyboard-settings {
  display: flex;
  width: 60%;
  height: 20px;
  margin-left: 130px;
}

.volume-container{
  padding: 50px;
}

.volume-slider {
  height: 400px;
}

.adsr-container ul{
  display: flex;
}

.adsr-container ul li{
  list-style: none;
  width: 150px;
  justify-content: space-between;
}
/*========================*/

/* Composition.js */

.music-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.note-container {
  display: inline-block;
  /* border: 1px solid black; */
  /* text-align: justify; */
  padding: 40px;
  width: 50px;
  height: 80px;
}


.note-selection {
  width: 450px;
  height: 170px;
}

.note-selection li{
  display: inline-block;
  width: auto;
  height: auto;
  list-style: none;
}

.test-button-popover{
  display: flex;
  padding-left: 50%;
  width: 50px;
  height: 50px;
  
}

.tempo-slider {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  width: 200px;
  height: 50px;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #1e88e5;
}

.drums-container {
  width:1200px;
  padding: 20px;
  display: block;
}

/* .drum-volume-container{
  width: 25px;
  position: relative;
  float: left;
} */

.drum-volume-slider {
  /* padding: 10px; */
}
/*========================*/
.kick-box {
  background-color: black;
  display: inline-block;
  box-sizing: padding-box;
  padding: 10px;
  padding-bottom: 6%;
  border: 1px solid black;
  width: 60px;
  height: 50px;
  margin: 3px;
}

.kick-on {
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.kick-off{
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

/*========================*/

.cymbal-box {
  background-color: yellow;
  display: inline-block;
  box-sizing: padding-box;
  padding: 10px;
  padding-bottom: 6%;
  border: 1px solid black;
  width: 60px;
  height: 50px;
  margin: 3px;
}

.cymbal-on {
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.cymbal-off{
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

/*========================*/
.snare-box {
  background-color: green;
  display: inline-block;
  box-sizing: padding-box;
  padding: 10px;
  padding-bottom: 6%;
  border: 1px solid black;
  width: 60px;
  height: 50px;
  margin: 3px;
}

.snare-on {
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.snare-off{
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

/*========================*/

