.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.keyboard-container {
  margin: 120px;
  position: relative;
  display: block;
}

.piano-container {
  /* display: flex; */
  position: relative;
  align-items: center;
  padding: 170px;
  
}

.keyboard-settings {
  display: flex;
  width: 40px;
  height: 20px;
  margin-left: 150px;
}

.adsr-label{
  
}

.music-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.note-container {
  display: inline-block;
  border: 1px solid black;
  text-align: justify;
  padding: 20px;
}

.tempo-slider {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  width: 200px;
  height: 50px;
}

.drums-container {
  width:1200px;
  padding: 20px;
  display: block;
}
/*========================*/
.kick-box {
  background-color: black;
  display: inline-block;
  box-sizing: padding-box;
  padding: 15px;
  padding-bottom: 3%;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.kick-on {
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.kick-off{
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

/*========================*/

.cymbal-box {
  background-color: yellow;
  display: inline-block;
  box-sizing: padding-box;
  padding: 15px;
  padding-bottom: 3%;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.cymbal-on {
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.cymbal-off{
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

/*========================*/
.snare-box {
  background-color: green;
  display: inline-block;
  box-sizing: padding-box;
  padding: 15px;
  padding-bottom: 3%;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.snare-on {
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.snare-off{
  height: 20px;
  width: 20px;
  margin-top: 20px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}